{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FoodGo</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">


    {% include 'base/css.html' %}

</head>
<body>


{% include 'base/navbar.html' %}


<!--Main div is  here-->
<div style="height: 100vh">
    <div class="container" style="margin-top: 80px;">
        {% block content %}
        {% endblock %}
    </div>
</div>
<!-- end -->


{% include 'base/js.html' %}
</body>
</html>
