{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
        .tag {
            color: white !important;
            background-color: #5bc0de !important;
            border-radius: .25rem;
        }

        span {
            padding: 2px;
        }
{#    .myInput {#}
{#    border: 1px solid #ccc;#}
{#    display: inline-block;#}
{#    padding: 6px 12px;#}
{#    cursor: pointer;#}
{#}#}

    .myInput::-webkit-file-upload-button {
  visibility: hidden;
}
.myInput::before {
  content: 'Select Image';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.myInput:hover::before {
  border-color: black;
}
.myInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


    </style>

    <div>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'tags_input/assets/bootstrap-tagsinput.css' %}">


        <div class="example example_typeahead">

            <form class="text-center border border-light p-5" method="post" enctype="multipart/form-data"
                  style="width: 70%;margin: 0 auto">{% csrf_token %}
                {{ form.as_p }}

                <div class="bs-example">
                    <input type="text" name="ingredients" value="water" data-role="tagsinput">

                </div>
                <button type="submit" class="btn btn-primary">Primary</button>
            </form>
        </div>


        <script src="{% static 'tags_input/assets/jquery.min.js' %}"></script>

        <script src="{% static 'tags_input/assets/tag-input.js' %}"></script>
    </div>

{% endblock %}

